.loader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  color: #ffffff;
  text-align: center;
}

.loader .text{
  position: relative;
  top: 80vh;
  font-size: 1.2em;
  font-weight: 300;
}

.sick-container{
  position:absolute;
  -webkit-animation: scaling 5s infinite;
          animation: scaling 5s infinite;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.core {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); 
  -webkit-box-shadow: 0 0 10px #1EAAF0, 0 0 30px #1EAAF0, 0 0 30px #1EAAF0; 
          box-shadow: 0 0 10px #1EAAF0, 0 0 30px #1EAAF0, 0 0 30px #1EAAF0;
  -webkit-animation: core 2s ease-in-out infinite;
          animation: core 2s ease-in-out infinite;
}


@-webkit-keyframes core{

  0%{
      width:20px;
      height:20px;
  }

  50%{
      width:28px;
      height:28px;
  }

  100%{
      width:20px;
      height:20px;
  }

}


@keyframes core{

  0%{
      width:20px;
      height:20px;
  }

  50%{
      width:28px;
      height:28px;
  }

  100%{
      width:20px;
      height:20px;
  }

}

.core-outer-spin, .core-inner-spin {
  position: absolute;
  top: 50%;
  left: 50%;
}
.core-outer-spin {
  -webkit-animation: spin1 4s linear infinite;
          animation: spin1 4s linear infinite;
}
.core-outer-arc, .core-inner-arc {
  position: absolute;
  border-radius: 50%;
  border: 3px solid;
}
.core-outer-arc {
  width: 70px;
  height: 70px;
}
.core-outer-arc_start-a {
  border-color: transparent transparent transparent #1EAAF0;

  -webkit-transform: translate(-50%, -50%) rotate(85deg);

      -ms-transform: translate(-50%, -50%) rotate(85deg);

          transform: translate(-50%, -50%) rotate(85deg); 
}
.core-outer-arc_end-a {
  border-color: #1EAAF0 transparent transparent transparent;
  -webkit-transform: translate(-50%, -50%) rotate(25deg);
      -ms-transform: translate(-50%, -50%) rotate(25deg);
          transform: translate(-50%, -50%) rotate(25deg);
}
.core-outer-arc_start-b {
  border-color: transparent transparent transparent #1EAAF0; 
  -webkit-transform: translate(-50%, -50%) rotate(85deg) scale(-1, -1); 
      -ms-transform: translate(-50%, -50%) rotate(85deg) scale(-1, -1); 
          transform: translate(-50%, -50%) rotate(85deg) scale(-1, -1);
}
.core-outer-arc_end-b {
  border-color: #1EAAF0 transparent transparent transparent;
  -webkit-transform: translate(-50%, -50%) rotate(25deg) scale(-1, -1);
      -ms-transform: translate(-50%, -50%) rotate(25deg) scale(-1, -1);
          transform: translate(-50%, -50%) rotate(25deg) scale(-1, -1);
}

.core-outer-circle-a {
  position: absolute;
  top:50%;
  left:50%;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) translate(30px, 20px);
      -ms-transform: translate(-50%, -50%) translate(30px, 20px);
          transform: translate(-50%, -50%) translate(30px, 20px); 
  -webkit-box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0; 
          box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0;
}
.core-outer-circle-b {
  position: absolute;
  top:50%;
  left:50%;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) translate(-30px, -21px);
      -ms-transform: translate(-50%, -50%) translate(-30px, -21px);
          transform: translate(-50%, -50%) translate(-30px, -21px); 
  -webkit-box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0; 
          box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0;
}
.core-inner-spin {
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
.core-inner-arc {
  width: 35px;
  height: 35px;
}
.core-inner-arc_start-a {
  border-color: transparent transparent transparent #1EAAF0;

  -webkit-transform: translate(-50%, -50%) rotate(130deg);

      -ms-transform: translate(-50%, -50%) rotate(130deg);

          transform: translate(-50%, -50%) rotate(130deg); 
}
.core-inner-arc_end-a {
  border-color: #1EAAF0 transparent transparent transparent;
  -webkit-transform: translate(-50%, -50%) rotate(35deg);
      -ms-transform: translate(-50%, -50%) rotate(35deg);
          transform: translate(-50%, -50%) rotate(35deg);
}
.core-inner-arc_start-b {
  border-color: transparent transparent transparent #1EAAF0; 
  -webkit-transform: translate(-50%, -50%) rotate(130deg) scale(-1, -1); 
      -ms-transform: translate(-50%, -50%) rotate(130deg) scale(-1, -1); 
          transform: translate(-50%, -50%) rotate(130deg) scale(-1, -1);
}
.core-inner-arc_end-b {
  border-color: #1EAAF0 transparent transparent transparent;
  -webkit-transform: translate(-50%, -50%) rotate(35deg) scale(-1, -1);
      -ms-transform: translate(-50%, -50%) rotate(35deg) scale(-1, -1);
          transform: translate(-50%, -50%) rotate(35deg) scale(-1, -1);
}
.core-inner-circle-a {
  position: absolute;
  top:50%;
  left:50%;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) translate(20px, 0);
      -ms-transform: translate(-50%, -50%) translate(20px, 0);
          transform: translate(-50%, -50%) translate(20px, 0); 
  -webkit-box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0; 
          box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0;
}
.core-inner-circle-b {
  position: absolute;
  top:50%;
  left:50%;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) translate(-19px, 0);
      -ms-transform: translate(-50%, -50%) translate(-19px, 0);
          transform: translate(-50%, -50%) translate(-19px, 0); 
  -webkit-box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0; 
          box-shadow: 0 0 5px #1EAAF0, 0 0 10px #1EAAF0, 0 0 10px #1EAAF0;
}

@-webkit-keyframes spin { 

  0%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }

  20%{
      -webkit-transform: rotate(100deg);
              transform: rotate(100deg);
  }

  30%{
      -webkit-transform: rotate(-50deg);
              transform: rotate(-50deg);
  }

  40%{
      -webkit-transform: rotate(100deg);
              transform: rotate(100deg);
  }

  45%{
      -webkit-transform: rotate(150deg);
              transform: rotate(150deg);
  }

  50%{
      -webkit-transform: rotate(300deg);
              transform: rotate(300deg);
  }

  60%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }

  80%{
      -webkit-transform: rotate(500deg);
              transform: rotate(500deg);
  }

  100%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }

}

@keyframes spin { 

  0%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }

  20%{
      -webkit-transform: rotate(100deg);
              transform: rotate(100deg);
  }

  30%{
      -webkit-transform: rotate(-50deg);
              transform: rotate(-50deg);
  }

  40%{
      -webkit-transform: rotate(100deg);
              transform: rotate(100deg);
  }

  45%{
      -webkit-transform: rotate(150deg);
              transform: rotate(150deg);
  }

  50%{
      -webkit-transform: rotate(300deg);
              transform: rotate(300deg);
  }

  60%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }

  80%{
      -webkit-transform: rotate(500deg);
              transform: rotate(500deg);
  }

  100%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }

}

@-webkit-keyframes spin1 { 
  0%{
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }

  25%{
      -webkit-transform: rotate(-150deg);
              transform: rotate(-150deg);
  }

  40%{
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
  }

  55%{
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
  }

  65%{
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
  }

  90% {
      -webkit-transform: rotate(-300deg);
              transform: rotate(-300deg); 
  }

  100%{
      -webkit-transform: rotate(300deg);
              transform: rotate(300deg);
  }
}

@keyframes spin1 { 
  0%{
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }

  25%{
      -webkit-transform: rotate(-150deg);
              transform: rotate(-150deg);
  }

  40%{
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
  }

  55%{
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
  }

  65%{
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
  }

  90% {
      -webkit-transform: rotate(-300deg);
              transform: rotate(-300deg); 
  }

  100%{
      -webkit-transform: rotate(300deg);
              transform: rotate(300deg);
  }
}


@-webkit-keyframes scaling{
  0%{
      -webkit-transform:scale(0.4);
              transform:scale(0.4);
  }
  25%{
      -webkit-transform:scale(0.8);
              transform:scale(0.8);
  }
  50%{
      -webkit-transform:scale(0.6);
              transform:scale(0.6);
  }
  80%{
      -webkit-transform:scale(1.8);
              transform:scale(1.8);
  }
  100%{
      -webkit-transform:scale(0.4);
              transform:scale(0.4);
  }
}


@keyframes scaling{
  0%{
      -webkit-transform:scale(0.4);
              transform:scale(0.4);
  }
  25%{
      -webkit-transform:scale(0.8);
              transform:scale(0.8);
  }
  50%{
      -webkit-transform:scale(0.6);
              transform:scale(0.6);
  }
  80%{
      -webkit-transform:scale(1.8);
              transform:scale(1.8);
  }
  100%{
      -webkit-transform:scale(0.4);
              transform:scale(0.4);
  }
}