.skills-section {
  background-color: $bg-grey-light;
  padding: 5rem 0;

  .skill-type {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 80%;
    div {
      position: relative;
      background-color: $bg-grey-dark;
      margin-bottom: 1rem;
      width: 50%;
      text-align: center;
      color: $sky-color;
      p {
        padding: 0.7rem 0;
        font-weight: 500;
      }
      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 14px solid $sky-color;
        background-color: $bg-grey-light;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .personal {
      margin-left: 4px;
      transition: background-color 0.6s;
      .triangle {
        opacity: 0;
        transition: opacity 0.6s;
      }
    }

    .professional {
      margin-left: 4px;
      transition: background-color 0.6s;
      .triangle {
        opacity: 0;
        transition: opacity 0.6s;
      }
    }

    .active {
      background-color: $sky-color;
      color: #ffffff;
      .triangle {
        opacity: 1;
      }
    }
  }

  .box {
    background-color: $bg-grey-light;
    margin-left: 15px;
    margin-right: 15px;

    .progress-container {
      position: relative;
      height: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      &:last-child {
        margin: 0;
      }
      .progress-bar {
        background-color: $sky-color;
        height: 4px;
        border-radius: 5px;
        width: 0;
      }
      h4 {
        background-color: $bg-grey-dark;
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 30px;
        display: inline-block;
        padding: 0 63px 0 15px;
        font-size: 66%;
        height: 100%;
        line-height: 28px;
        border-radius: 20px;
        color: #ffffff;
        background: $bg-grey-light;
        border: 1px solid $sky-color;
        text-align: center;
        span {
          position: absolute;
          top: 0px;
          right: 0px;
          display: inline-block;
          padding: 0 11px;
          line-height: 28px;
          height: 28px;
          border-radius: 20px;
          background: $sky-color;
          color: $bg-grey-light;
          border: 1px solid;
          text-align: center;
        }
      }
    }

    .skills-list {
      padding: 1.5rem;
    }
  }
}
