@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: $grey-color;
  font-weight: 500;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 1.3;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
}

// ----------------------------------------------
// TypoGraphy
// ----------------------------------------------
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

h2 {
  font-size: 90%;
}

// ----------------------------------------------
// Re-useable compononet
// ----------------------------------------------

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.button {
  background: linear-gradient(135deg, $sky-color-dark 0%, $sky-color 100%);
  color: #ffffff;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  font-size: 60%;
  font-weight: 600;
  border-radius: 50px;
  display: inline-block;
  margin-top: 3.5rem;
  transition: all 0.2s;

  &:hover {
    background: linear-gradient(135deg, #0d718d 0%, #0d718d 100%);
  }
}

.main-title {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
  margin-left: 15px !important;
  margin-right: 15px !important;
  h1 {
    &::before {
      position: absolute;
      content: "";
      height: 2px;
      background-color: $line-grey;
      left: 0;
      right: 0;
      bottom: -20px;
    }
  }

  span {
    position: absolute;
    bottom: -27px;
    left: 67%;
    background-color: $bg-grey-light;
    padding: 0 5px;
    color: $sky-color;
    font-weight: 600;
  }
}

// ----------------------------------------------
// Loader
// ----------------------------------------------
@import "loader";

// ----------------------------------------------
// Header
// ----------------------------------------------
@import "star_brust";

.fancybox-slide--iframe {
  padding: 0 2.5rem;
}

// ----------------------------------------------
// Header
// ----------------------------------------------
@import "header";

// ----------------------------------------------
// About Me
// ----------------------------------------------
@import "about_me";

// ----------------------------------------------
// My Skills
// ----------------------------------------------
@import "skills";

// ----------------------------------------------
// My Projects
// ----------------------------------------------
.project-section {
  background-color: $bg-grey-dark;
  padding: 5rem 0;

  .main-title {
    span {
      background-color: $bg-grey-dark;
    }
  }

  .project-types {
    margin: 0 auto;
    text-align: center;
    ul {
      list-style: none;
      padding: 0 1rem;
    }
    li {
      position: relative;
      display: inline-block;
      margin-left: 20px;
      font-size: 80%;
      color: #ffffff;
      font-weight: 400;
      &:first-child {
        margin: 0;
      }
      &:hover::before {
        transform: scale(1);
      }
      &::before {
        position: absolute;
        content: "";
        width: 110%;
        height: 0;
        bottom: -5px;
        left: -5%;
        border-bottom: 2px solid $sky-color;
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  .project-items {
    padding: 2rem 0;
    .flex-wrapper {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .project-tile {
      margin-bottom: 1.5rem;

      .card {
        position: relative;
        background-color: $bg-grey-dark;
        background-color: #ffffff;
        overflow: hidden;
        transition: transform 0.4s;

        &:hover {
          transform: translateY(-10px);
        }

        .project-desc-box {
          padding: 15px 1rem;
          text-align: center;
          max-height: 140px;
          .title {
            color: #000000;
            font-weight: 600;
            font-size: 85%;
          }
          .desc {
            color: #000000;
            font-size: 64%;
            padding-top: 8px;
            text-align: left;
          }
        }
      }

      .image {
        position: relative;
        height: 260px;
        background-size: cover;
        overflow: hidden;
        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      .button-holder {
        // display: flex;
        // justify-content: space-evenly;
        // padding-bottom: 15px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .button {
          margin: 0;
          padding: 0.6rem 1rem;
          font-family: "Montserrat", sans-serif;
          text-align: center;
          font-weight: normal;
        }

        .button__live{
          margin-right: 10px;
        }

        .button__github{
          margin-left: 10px;
        }

        .live-thumb {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 260px;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }
  }
}

// ----------------------------------------------
// Contact Me
// ----------------------------------------------

.contact-me-section {
  user-select: text;
  display: block;
  padding: 5rem 0;
  background-color: $bg-grey-dark;
  .main-title {
    span {
      background-color: $bg-grey-dark;
    }
  }

  .contact-boxes {
    margin-bottom: 2rem;
    border: 3px solid #383636;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title-box {
      h4 {
        position: relative;
        background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
        color: #fff;
        padding: 8px 0;
        font-size: 70%;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          content: "";
          position: absolute;
          bottom: -13px;
          left: 50%;
          display: block;
          border: 7px solid;
          border-color: #45a9c5 transparent transparent transparent;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        .icon-box {
          font-size: 150%;
          text-align: center;
          border-radius: 50%;
          color: #fff;
          margin-right: 0.3rem;
        }
      }
    }

    .content-box {
      font-size: 66%;
      margin-top: 0.8rem;
      p {
        margin-bottom: 0;
        font-weight: 400;
        color: #c2c0c3;
        letter-spacing: 1px;
        text-align: center;
        &:last-child {
          margin-top: 3px;
        }
      }
    }
  }

  .form {
    border: 3px solid #383636;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .button {
      margin: 0;
      text-align: center;
    }
  }

  .floating {
    color: $grey-color !important;
    font-style: normal !important;
    font-weight: 300 !important;

    &.is {
      color: $sky-color !important;
      text-transform: none !important;
    }
  }

  input,
  textarea {
    appearance: none;
    box-shadow: 0 0 0;
    padding: 0.6rem 0 0.4rem 0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 0;
    width: 100%;
    border-bottom: 1px solid $grey-color;
    border-radius: 0;
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif !important;
    font-size: 70%;
    font-weight: 300 !important;
    letter-spacing: 1px;
    background-color: transparent;

    &:focus {
      outline: 0;
      border-bottom: 1px solid $sky-color;
    }
  }
  textarea {
    resize: none;
  }
}

footer {
  background-color: $bg-grey-light;
  padding: 1rem 0;
  text-align: center;

  .logo {
    font-size: 130%;
    font-weight: 500;
    span {
      color: $sky-color;
    }
  }

  .social-links {
    margin: 0.7rem 0;
    font-size: 120%;

    p {
      margin-left: 0.8rem;
      display: inline-block;
      color: #fff;
      &:first-child {
        margin: 0;
      }
    }

    .icon {
      transition: 0.6s all;

      &:hover {
        color: $sky-color;
        transform: scale(1.2) rotate(360deg);
      }
    }
  }

  .copy {
    font-size: 70%;
  }
}

// ----------------------------------------------
// Media Queries
// ----------------------------------------------
@import "media_queries";
